<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--All CSS and JS files-->
	<link rel="stylesheet" type="text/css" href="animate.css">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>

	<!-- Navbar -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="homepage.ejs">Voices of Mumbai</a>
  </nav>

  <section class="description overlay">
    <div class="overlay">
      <div class="title-brand col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="name-tag col-md-12 col-sm-12 col-xs-12">Voices of Mumbai</div>
            <p class="tagline">Portal to air any grievances regards streets in Mumbai</p>
        </div>

        <div class="d-flex justify-content-around align-items-center" style="height: 60%">
          <div>
            <a href="/problems" class="custom-card">
              <div class="card-header text-center"><b>List of Problems</b></div>
            </a>
          </div>

          <div>
            <a href="/problems/create" class="custom-card">
              <div class="card-header text-center"><b>Add a problem</b></div>
            </a>
          </div>

          <div>
            <a href="/login_ward" class="custom-card">
              <div class="card-header text-center"><b>Login as Authority</b></div>
            </a>
          </div>

          <div>
            <a href="/login_citizen" class="custom-card">
              <div class="card-header text-center"><b>Login as Citizen</b></div>
            </a>
          </div>

        </div>
      </div>
  </section>
  
</body>
</html>